.root {
    -fx-background-image: url("../img/wood.jpg");
    -fx-background-size: cover, cover;
}

.board {
    -fx-background-image: url("../img/board.png");
    -fx-background-size: 480, 180;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.message {
    -fx-fill: firebrick;
}

.piece, .dice {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 4.0, 0.0, 6.0, 4.0);
}
